.about_us {
  background-color: #fff;
  position: relative;
  .about_top {
    position: absolute;
    top: 0;
    z-index: 3;
    right: 28.7vw;
    height: rem(195px);
    width: rem(3px);
  }
  .about_left{
    position: absolute;
    top: rem(307px);
    z-index: 3;
    left: 0;
    height: rem(3px);
  }
  .st0 {
    fill: none;
    stroke: #3EC0DD;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
  .container {
    display: flex;
    background-color: #fff;
    padding: rem(195px) rem(90px) rem(100px);
  position: relative;
    z-index: 2;
  }
  .about_us_left {
    width: 50%;
    padding-top: rem(65px);
    margin-right: rem(20px);
    position: relative;
    z-index: 2;
    .title_block {
      margin-bottom: rem(40px);
      padding-left: rem(30px);
    }
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      text-indent: rem(30px);
      margin-bottom: rem(30px);
    }
  }
  .about_us_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    .about_us_photo {
      width: 100%;
      overflow: hidden;
      height: rem(357px);
      img {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.about_us_success {
  position: relative;
  align-self: flex-end;
  right: rem(-90px);
  height: rem(278px);
  width: 92%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .success_content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: rem(50px) 0;
    background-color: rgba(40, 40, 64, .91);
    .success_text{
      font-size: rem(27px);
      text-align: center;
      color: #fff;
      .success_title{
        text-transform: uppercase;
      }
      .success_interest{
        display: block;
        font-size: rem(55px);
        position: relative;
        svg{
          position: absolute;
          width: 80px;
        }
        //&::before,&::after{
        //  @include before_fig(20%,rem(3px),$sky-color);
        //  top: 49%;
        //}
        //&::before{
        //  left:12%;
        //}
        //&::after{
        //  right:12%;
        //}
      }
    }
  }
}
.left_img_bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width:rem(312px);
  opacity: .13;
}
.right_img_bg{

  position: absolute;
  bottom:0;
  width:rem(312px);
  right: 0;
  z-index: 1;
  opacity: .13;
}
.about_triangle{
  position: absolute;
  bottom: 15.5%;
  left: 0;
  width: 0;
  z-index: 1;
	height: 0;
  opacity: .48;
	border-bottom: 20vw solid #f7f7f7;
	border-right: 15vw solid transparent;
}
