.consultation {
  padding: rem(200px) 0 rem(130px);
  overflow: hidden;
  position: relative;
  .parallax {
    position: absolute;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
    padding: rem(60px);
    background-color: rgba(255, 255, 255, .96);
    display: flex;
    flex-direction: column;
    align-items: center;
    .title_block {
      display: inline-block;
      background-color: #fff;
      margin-bottom: rem(55px);
    }
    .consultation_text{
      width: 100%;
      max-width: rem(870px);
      text-align: center;
      font: 300 rem(18px)/1.7 $roboto;
      letter-spacing: rem(.36px);
      margin-bottom: rem(40px);
      b{
        font-weight: 700;
      }
    }
  }
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: 3;
    height: 0;
    border-left: 20vw solid #f7f7f7;
    border-bottom: rem(70px) solid transparent;
  }
  &::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    z-index: 3;
    height: 0;
    border-right: 80vw solid #fff;
    border-bottom: rem(70px) solid transparent;
  }
}
