.contact_section {
  margin-top: -50vh;
  position: relative;
  z-index: 4;
  > .container {
    display: flex;
    align-items: flex-start;
    .contact_section_right {
      width: 100%;
      .address_content {
        padding: rem(50px);
        .social_block {
          margin-top: rem(30px);
        }
      }
      .title_page{
        margin-bottom: rem(55px);
      }

    }
  }
}

.contact_section_form {
  padding: rem(75px);
  background-color: #fff;
  width: 100%;
  .section_form_title {
    font-size: rem(30px);
    margin-bottom: rem(20px);
    text-align: center;
  }
  .section_form_line {
    display: block;
    width: rem(105px);
    height: rem(3px);
    background-color: $sky-color;
    margin: 0 auto rem(45px);
  }
  .section_form_text {
    text-align: center;
    font: 700 rem(18px)/1.5 $roboto;
    color: #0b0a0d;
  }
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  input {
    width: 100%;
    flex: 1 1 100%;
    height: rem(60px);
    background-color: #fff;
    border: none;
    border-radius: 0;
    font: normal rem(20px)/1.5 $sylfaen;
    color: $black-color;
    border-bottom: solid rem(1px) rgba(39, 39, 49, .53);
    margin-bottom: rem(10px);
  }
  .text_label {
    color: #272731;
    font: normal rem(20px)/1.5 $sylfaen;
    margin-top: rem(15px);
    margin-bottom: rem(10px);
  }
  textarea {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #e1e7f3;
    margin-bottom: rem(40px);
  }
  .btn {
    background-color: transparent;
    max-width: 100%;
  }
}