.header_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: rem(1px) solid rgba(255, 255, 255, 0.34);
  background-color: #1d1d23;
  background-image: linear-gradient(180deg, #000000 0%, #202027 99%, #202027 100%);

  .container {
    height: rem(197px);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 100%;
      max-width: rem(250px);
      img {
        width: 100%;
      }
    }
  }
}

.nav_main {
  position: absolute;
  left: 0;
  top:0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 50;
  ul {
    width: rem(320px);
    background-color: #fff;
    display: flex;
    min-height: rem(530px);
    padding: rem(70px) 0;
    flex-wrap: wrap;
    li {
      padding: 0 rem(20px);
      text-align: center;
      height: rem(60px);
      width: 100%;
      display: flex;
      a {
        margin: auto;
        text-transform: uppercase;
        font: normal rem(16px)/1.2 $sylfaen;
        letter-spacing: rem(.32px);
        position:relative;
        background-color: #fff;
        span{
          background-color: #fff;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  .list_page {
    & > li {
      &>a::before {
        @include before_fig(rem(2px), 0, $sky-color);
        top: 0;
        transition: .3s;
        left: 50%;
        z-index: 1;
        opacity: 0;
        transform: rotate(45deg);
      }
      &:hover {
        &>a::before {
          opacity: 1;
          height:rem(60px);
          top:rem(-20px);
        }
        ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    ul {
      position: absolute;
      top: 0;
      left: 100%;
      transition: .3s;
      opacity: 0;
      visibility: hidden;
      li{
        transition: .3s;
        color: $black-color;
        &:hover{
          color: $sky-color;
        }
      }
    }
  }
  .scroll_nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: rem(1px);
    height: 100%;
    background-color: rgb(212, 212, 232);
    i {
      display: block;
      position: absolute;
      width: rem(14px);
      height: rem(12px);
      transition: .2s;
      background-color: $sky-color;
      top: 5%;
      right: rem(-6px);
      &::before {
        @include before_fig(rem(46px), rem(1px), $sky-color);
        top: rem(4px);
        left: rem(-16px);
      }
    }
  }
  &.active{
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

.btn_nav {
  width: rem(36px);
  height: rem(31px);
  background-color: $sky-color;
  cursor: pointer;
  position: relative;
  transition: background-color .3s;
  i {
    display: block;
    background-color: #fff;
    height: rem(2px);
    position: absolute;
    left: rem(9px);
    transition: .3s;
    &:first-child {
      top: rem(9px);
      width: rem(19px);
    }
    &:nth-child(2) {
      top: rem(15px);
      width: rem(9px);
    }
    &:last-child {
      width: rem(19px);
      bottom: rem(8px);
    }
  }
  &:hover {
    background-color: #fff;
    i {
      background-color: $sky-color;
      &:nth-child(2) {
        width: rem(19px);
      }
    }
  }
}

.languages {
  a {
    display: inline-block;
    width: rem(36px);
    height: rem(31px);
    border: solid rem(1px) currentColor;
    color: $sky-color;
    transition: color .3s;
    text-align: center;
    line-height: rem(28px);
    margin-left: rem(10px);
    &:hover, &.active {
      color: #fff;
    }
    &.active {
      background-color: $sky-color;
    }
  }

}
