.practice {
  //height: 2000px;
  #line3 {
    width: 50%;
    margin-top: rem(200px);
    height: rem(568px);
    //polyline {
    //  stroke-dasharray: 300%;
    //  stroke-dashoffset: 300%;
    //}
  }
}