.slider_main {
  height: calc(100vh - 12.25rem);
  position: relative;
  overflow: hidden;
  width: 100%;
  .slider_main_elem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
    transition: .5s;
    .slider_main_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow: hidden;
      &::before {
        @include before_fig(100%, 100%, rgba(40, 40, 64, 0.61));
        top: 0;
        left: 0;
        z-index: 2;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .slider_main_content {
      position: relative;
      z-index: 2;
      .slider_main_text {
        font-size: rem(43px);
        line-height: 1.17;
        text-align: center;
        color: #fff;
        max-width: rem(1000px);
        margin-bottom: rem(60px);
      }
      .btn {
        margin: auto;
        background-color: rgba(255, 255, 255, 0.17);
      }
    }
    &.active {
      opacity: 1;
      transition: .5s .3s;
      transform: scale(1);
      z-index: 2;
    }
  }
  .slider_main_control {
    display: flex;
    position: absolute;
    right: calc(29vw - 2.2rem);
    width: rem(60px);
    bottom: rem(15px);
    height: rem(44px);
    z-index: 3;
    .control_left, .control_right {
      background: transparent;
      border: none;
      color: #fff;
      font-size: rem(30px);
      cursor: pointer;
    }
    &::before {
      @include before_fig(rem(1px), 100%, #fff);
      left: 50%;
      top: 0;
    }
  }
}
